<ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink routerLink="table"> Incidents</a>
    </li>
    <li ngbNavItem>
      <a ngbNavLink routerLink="basicinformation"> Basic Info</a>
    </li>
    <li ngbNavItem>
      <a ngbNavLink routerLink="devices"> Devices</a>
    </li>
    <li ngbNavItem>
      <a ngbNavLink routerLink="resolution"> Resolution</a>
    </li>
    <li ngbNavItem>
      <a ngbNavLink routerLink="calls"> Calls</a>
    </li>
    <li ngbNavItem>
      <a ngbNavLink routerLink="crew"> Crew</a>
    </li>
    <li ngbNavItem>
      <a ngbNavLink routerLink="multimediaattch"> Multimedia attachments</a>
    </li>
    <li ngbNavItem>
      <a ngbNavLink routerLink="equipment"> Equipment</a>
    </li>
  </ul>
  
  <div [ngbNavOutlet]="nav"></div>
  <router-outlet></router-outlet>