<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      
      <a (click)="myFunc( 'Homeeee' )" mat-list-item href="/home" >Home<mat-icon class="icon">home</mat-icon></a>
      <a mat-list-item href="/incidents">Incidents<mat-icon class="icon">warning</mat-icon></a>
      <a mat-list-item href="/map">Map<mat-icon class="icon">language</mat-icon></a>
      <a mat-list-item href="#">Calls<mat-icon class="icon">phone</mat-icon></a>
      <div class="bottomlinks">
      <a mat-list-item href="#">Settings<mat-icon class="icon">settings</mat-icon></a>
      <a mat-list-item href="#">Log Out<mat-icon class="icon">logout</mat-icon></a>
    </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{titleString}}</span>
      <div class="profilediv">
        <a mat-list-item href="#"><mat-icon>account_circle</mat-icon></a>

      </div>

    </mat-toolbar>
  
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
