<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      
      <a (click)="myFunc( 'Homeeee' )" mat-list-item href="/home" >Home<mat-icon class="icon">home</mat-icon></a>
      <a mat-list-item href="/incidents">Incidents<mat-icon class="icon">warning</mat-icon></a>
      <a mat-list-item href="/map">Map<mat-icon class="icon">language</mat-icon></a>
      <a mat-list-item href="/crew">Crew<mat-icon class="icon">groups</mat-icon></a>
      <a mat-list-item href="/devices">Devices<mat-icon class="icon">sensors</mat-icon></a>
      <a mat-list-item href="/work-requests">Work Requests<mat-icon class="icon">work</mat-icon></a>
      <a mat-list-item href="/safety-documents">Safety documents<mat-icon class="icon">article</mat-icon></a>
      <a mat-list-item href="/switching-plans">Switching plans<mat-icon class="icon">article</mat-icon></a>
      <a mat-list-item href="/consumers">Consumers<mat-icon class="icon">people</mat-icon></a>

      <div class="bottomlinks">
        <a mat-list-item href="/notifications">Notifications<mat-icon class="icon">notifications</mat-icon></a>
      <a mat-list-item href="/settings">Settings<mat-icon class="icon">settings</mat-icon></a>
      <a mat-list-item href="#" (click)="logOut()">Log Out<mat-icon class="icon">logout</mat-icon></a>
    </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{titleString}}</span>
      <div class="profilediv">
      <span class="username">{{username}}</span>
        <a mat-list-item href="/profile" ><mat-icon class="profileIcon">account_circle</mat-icon></a>

      </div>

    </mat-toolbar>
  
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
