<!-- Default form register -->
<form class="text-center border border-light p-5" #registerForm="ngForm" (ngSubmit)="register(registerForm)" >
  <div class="row">
  <div class="col-md-8">
    
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputAddress">Username</label>
          <input type="text" id="username" ngModel name="username" class="form-control" id="inputAddress" placeholder="Maki paki">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Password</label>
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="password" ngModel name="password" class="form-control" id="inputPassword4" placeholder="Password">
            </div>
            <div class="form-group col-md-6">
              <input type="password" name="password" class="form-control" id="inputPassword4" placeholder=" Confirm Password">
            </div>
        </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" ngModel name="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label for="inputAddress">Address</label>
          <input type="text" ngModel name="address" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Name and Surname</label>
          <input type="email" ngModel name="nameandlastname" class="form-control" id="inputEmail4" placeholder="Mark">
        </div>
        <div class="form-group col-md-6">
          <label for="inputSurname">Birth</label>
          <input type="date" ngModel name="birthdate" class="form-control" id="inputAddress" placeholder="Gasol">
        </div>
      </div>
      <div class="form-row">
      
        <div class="form-group col-md-6">
          <label for="inputState">Role</label>
          <select id="inputState" ngModel class="form-control" name="usertype">
            <option selected>Worker</option>
            <option>Team member</option>
            <option>Dispatcher</option>
            
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputImage" style="width: 100%;">Image</label>
          <input type="file" ngModel name="image" (change)="onFileSelected($event)" class="form-control" accept="image/*">
        </div>
        
      </div>
      <div class="form-row col-md-12">

        <div class="form-group col align-self-center">

          <button type="submit" class="btn btn-primary button">Sign in</button>
        </div>
      </div>
  </div>
  <div class="col-md-4">
    <div class="col align-self-end">
      <img  width="300" height="400" src="https://www.planetware.com/wpimages/2020/02/france-in-pictures-beautiful-places-to-photograph-eiffel-tower.jpg">
    </div>
  </div>
</div>
</form>
<!-- Default form register -->