<div class="gridara">
<div class="not-options">
    <button class="button">All Notifications</button>
    <button class="button">Unread Notifications</button>
    <button class="button">Errors</button>
    <button class="button">Info</button>
    <button class="button">Success</button>
    <button class="button">Warnings</button>

</div>
<div class="not-content">
<div *ngFor="let notification of notifications | slice: (page-1) * pageSize : page * pageSize">
    <div [ngStyle]="getBackgroundColor(notification.type)" [(ngModel)]="notification.id" (click)="finish(notification.id)" ngDefaultControl class  class="notification"><div class="text">{{notification.text}}</div> <div class="date">{{notification.timeStamp}}</div></div>
</div>
<div class="container__pagination">
    <ngb-pagination 
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="notifications.length"></ngb-pagination>
    </div>
</div>
</div>
