.gridara{
    display: grid;
    grid-template-columns: 25% 75%;
    
}

.not-options{
    display: grid;
    margin: 10%;
    width: 50%;

}

.not-content{
    display: grid;
    margin-top: 3.33%;
    
    
}

.notification{
    display: flex;
    background-color: lightgreen;
    width: fit-content;
    min-width: 40%;
    height: 90%;
    color: black;
    justify-content: space-between;

}

.container__pagination{
    margin-left: 15%;
    
}