.gridara{
    display: grid;
    grid-template-columns: 25% 75%;
}

.not-options{
    display: grid;
    margin: 10%;
    width: 50%;

}

.not-content{
    display: grid;
    margin-top: 3.33%;
    
}