<div class="gridara">
<div class="not-options">
    <button class="button" (click)="finish()">All Notifications</button>
    <button class="button">Unread Notifications</button>
    <button class="button">Errors</button>
    <button class="button">Info</button>
    <button class="button">Success</button>
    <button class="button">Warnings</button>

</div>
<div class="not-content">
<div *ngFor="let notification of notifications | slice: (page-1) * pageSize : page * pageSize">
    {{notification.text}} {{notification.type}} {{notification.timeStamp}}
</div>
<div class="container__pagination">
    <ngb-pagination 
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="notifications.length"></ngb-pagination>
    </div>
</div>
</div>
